<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_281" class="java.beans.XMLDecoder">
    <object class="sample.Settings" id="Settings0">
        <void class="sample.Settings" method="getField">
            <string>color_theme_name</string>
            <void method="set">
                <object idref="Settings0"/>
                <string>redGrey</string>
            </void>
        </void>
    </object>
</java>
